.container {
    background-color: #4e73df;
    color: #fff;
    width: 230px;
    height: auto;
}

.sidebar {
    padding: 0px 15px;
}

h4 {
    display: inline;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
}

h6 {
    opacity: 0.5;
    font-size: 12px;
    margin-bottom: 1.5rem;
}

.sidebarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 15px 0px;
    cursor: pointer;
}

.sidebarHeader h3 {
    padding: 0px 10px 0px;
    font-size: 1rem; /*1rem is equivalent to 16px*/
}

.dashTextDiv {
    cursor: pointer;
}

.componentDiv {
    padding: 0px 0px 40px 0px;
    cursor: pointer;
    opacity: 0.5;
}
.componentDiv:hover {
    opacity: 1;
}

.utilitiesDiv{
    cursor: pointer;
    opacity: 0.5;
}
.utilitiesDiv:hover {
    opacity: 1;
}

.pagesDiv {
    padding: 0px 0px 40px 0px;
    cursor: pointer;
    opacity: 0.5;
}
.pagesDiv:hover {
    opacity: 1;
}

.chartsDiv {
    padding: 0px 0px 40px 0px;
    cursor: pointer;
    opacity: 0.5;
}
.chartsDiv:hover {
    opacity: 1;
}

.tablesDiv {
    cursor: pointer;
    opacity: 0.5;
}
.tablesDiv:hover {
    opacity: 1;
}

.sidebarBtn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin: 10px 75px;
    cursor: pointer;
    background-color: #fff;
    opacity: 0.3;
}

button:hover {
    opacity: 0.5;
}

hr {
    background-color: #fff;
    opacity: 0.3;
}